

/*
TO-DOs:

Center the mouse button on the page.

Style the anchor like the button.
Add functionality to the button such that the middle mouse curser will open in a new tab.


Eventually, the name anchor will go to LinkedIn.
Make the Right Border on the Name Serve as a visual distinction between the button and anchor.
Add viewports for Various Sizes.

No Parallax -- Choose a simple color scheme.
*/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ResumeBtn:hover{
    background-color: #7fffd4;
    color: #5f9ea0;
}

.nameAndBtn{
    display: flex;
    flex-direction: row;
    margin: 50px auto 50px auto;
    justify-content: center;
}


a:hover{
    color: rgb(28, 164, 202);    
}

.nameAnchor{
    color: fff;
    padding: 6vh;
    width: 25vh;
    background-color: #000;
    text-decoration: none;
    border-radius: 15%;
    margin: 20px;
    text-align: center;
}

.ResumeBtn{

    padding: 6vh;
    width: 35vh;
    min-width: 200px;
    border-radius: 15%;
    margin: 20px;
    
}

.anchorDiv{
    margin-top: 65px;
   /* line-height: 50px;*/
}

@media screen and (max-width: 540px) {
        p {
          color: red;
        }

        .nameAndBtn{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        .nameAnchor{
            display: inline-block;
            margin-bottom: 25px;
            width: fit-content;
            margin-left: 10vh;
            margin-right: 10vh;
        }

        .ResumeBtn{
            display: inline-block;
            margin: auto 10vh auto 10vh;
            width: fit-content;
        }
    }